<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Turnuva Yönetimi</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.js">
    <link rel="stylesheet" href="~/Content/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Content/vendors/jqvmap/dist/jqvmap.min.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="~/Content/vendor/date-picker/css/datepicker.min.css">

   
</head>

<body>


    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="~/Content/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="~/Content/images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Home"> <i class="menu-icon ti-home"></i>Genel</a>
                    </li>
                    <h3 class="menu-title">Müsabaka Yönetimi</h3><!-- /.menu-title -->
                 
                        <li>
                            <a href="/Maclar"> <i class="menu-icon ti-basketball"></i>Maçlar </a>
                        </li>
                    

                    @if (User.IsInRole("A") || User.IsInRole("Y"))
                    {
                        <li>
                            <a href="/FiksturMotoru"> <i class="menu-icon ti-ruler-pencil"></i>Fikstür Motoru </a>
                        </li>
                    }
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-stats-up"></i>İstatistikler </a>
                    </li>

                    <h3 class="menu-title">Tanımlama</h3><!-- /.menu-title -->
                    @if (User.IsInRole("A") || User.IsInRole("Y") || User.IsInRole("T") || User.IsInRole("S"))
                    {
                        <li>
                            <a href="/Sporcular"> <i class="menu-icon ti-id-badge"></i>Sporcular</a>
                        </li>
                    }
                    @if (User.IsInRole("A") || User.IsInRole("Y") || User.IsInRole("T"))
                    {
                        <li>
                            <a href="/Takimlar"> <i class="menu-icon ti-shield"></i>Takımlar</a>
                        </li>
                    }
                    @if (User.IsInRole("A") || User.IsInRole("Y"))
                    {
                        <li>
                            <a href="/Gorevliler"> <i class="menu-icon ti-user"></i>Hakem & Görevli </a>
                        </li>
                    }
                    @if (User.IsInRole("A"))
                    {
                        <li>
                            <a href="/Turnuva"> <i class="menu-icon ti-user"></i>Turnuva</a>
                        </li>
                    }
                    @if (User.IsInRole("A") || User.IsInRole("Y"))
                    {
                        <li>
                            <a href="/Kullanicilar"> <i class="menu-icon ti-user"></i>Kullanıcı Tn.</a>
                        </li>
                    }
                    <h3 class="menu-title">Ekstra</h3><!-- /.menu-title -->
                    <li>
                        <a href="widgets.html"> <i class="menu-icon ti-book"></i>Kurallar </a>
                    </li>
                    @if (User.IsInRole("A") || User.IsInRole("Y") || User.IsInRole("H"))
                    {
                        <li>
                            <a href="widgets.html"> <i class="menu-icon ti-clipboard"></i>Raporlar </a>
                        </li>
                    }
                    @if (User.IsInRole("A"))
                    {
                        <li>
                            <a href="widgets.html"> <i class="menu-icon ti-settings"></i>Ayarlar </a>
                        </li>
                    }
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">


                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <span class="count bg-danger">5</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <p class="red">You have 3 Notification</p>
                                <a class="dropdown-item media bg-flat-color-1" href="#">
                                    <i class="fa fa-check"></i>
                                    <p>Server #1 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-4" href="#">
                                    <i class="fa fa-info"></i>
                                    <p>Server #2 overloaded.</p>
                                </a>
                                <a class="dropdown-item media bg-flat-color-5" href="#">
                                    <i class="fa fa-warning"></i>
                                    <p>Server #3 overloaded.</p>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>



                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="~/Content/images/admin.jpg" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> @User.Identity.Name </a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Bildirimler <span class="count">13</span></a>
                            @if (User.IsInRole("A") || User.IsInRole("Y") || User.IsInRole("H"))
                            {
                                <a class="nav-link" href="/Home/Ayarlar"><i class="fa fa-user"></i> Turnuva Seç </a>
                            }
                            <a class="nav-link" href="/Login/Logout"><i class="fa fa-power-off"></i> Çıkış</a>
                        </div>
                    </div>
                </div>

        </header><!-- /header -->
        <!-- Header-->


        @RenderBody()


    </div><!-- /#right-panel -->
    <!-- Right Panel -->


    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>


    <script src="~/Content/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="~/Content/assets/js/dashboard.js"></script>
    <script src="~/Content/assets/js/widgets.js"></script>
    <script src="~/Content/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="~/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="~/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.steps.js"></script>


    <script>
        (function ($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);</script>



</body>

</html>

